{% extends "layout.html" %}
{% set active_page = "about" %}

{% block style %}
<style>
  .header {
    font-weight: bold;
  }
</style>
{% endblock %}
{% block content %}
<div class="header">Background</div>
<p>Waste management is one of the most challenging problems to solve in the 21st century. The average American produces
  1,704 pounds of garbage per year, roughly three times the global average, according to a report by the research firm
  Verisk Maplecroft in 2019. Poor waste management is linked to environmental risks, such as climate change and
  pollution, and consequent economic harm.</p>

<p>To achieve a sustainable future, it is imperative to develop an effective waste management system. Currently, a
  majority of waste is not recycled and ends up in sanitary landfills. Reasons for this include:
<ul>
  <li>Consumers placing non-recyclable items into recycling bins which leads to inefficiencies in the sorting process.
  </li>
  <li>Consumers looking to buy recyclable products may not know if a product is recyclable or not.</li>
</ul>

<p>In light of these factors, we contribute a platform for consumers that detects and classifies recyclable materials
  using artificial intelligence and computer vision.</p>

<div class="header">Proposed Solution</div>
<p>We build and deploy a web-based application that will enable Users to take a picture of an item of trash and identify
  if it is recylcable or not. Additionally we will provide the ability for Users to submit additional pictures to
  further improve model performance over time via incremental data acquisition. Inference API will be exposed to enable
  additional integration of image classification functionality into other 3rd party applications if desired (mobile,
  etc.).</p>

<p>A CNN image classification model will be developed via a training pipeline to identify recylcable and non/recylcable
  materials. An additional supporting multinomial classification model may be built to identify material types (e.g.
  plastic, metal, etc.) as additional feature input and user-explanatory information.</p>

<p>Expectation is that CNN models will take advantage of transfer learning and will be built on resnet50 (or similar
  pre-existing architecture) with fine-tuning based on recyclable data-set.
</p>

<p>We also envisioned a version of our model that would support image segmentation to identify trash objects on video
  streams and detect recyclable items in real time. In this experiment, we hope to fine tune Yolo v3.
</p>

<div class="header">More Info</div>
Checkout the <a href="https://github.com/canirecycleit">CIRI repository on GitHub.</a>

{% endblock %}