{% extends "layout.html" %}
{% block content %}
<div class="content">
  <div class="container">
    <div class="mdc-card mdc-card--outlined" style="min-height: 400px;">
      <div class="dropzone" onclick="upload_file()">

        <input type="file" id="input_file" accept="image/*" capture="camera" name="input_file" on autocomplete="off"
          tabindex="-1" style="display: none;">
        <div><img id="input_file_view" style="width:100%;" /></div>
        <div style="color: #302f2f;">Click to take a picture or upload...</div>
      </div>
      <div style="padding:20px;">
        <span class="prediction" id="prediction_label"></span>
        <span class="recycle_type" id="can_recycle"></span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  // API URL
  //axios.defaults.baseURL = 'http://ciri_apis:80/';
  axios.defaults.baseURL = '/api/';

  // file input
  var input_file = document.getElementById("input_file");
  var prediction_label = document.getElementById("prediction_label");
  var can_recycle = document.getElementById("can_recycle");
  var input_file_view = document.getElementById('input_file_view');

  function upload_file() {
    // Clear
    prediction_label.innerHTML = "";
    input_file_view.src = null;

    input_file.click();
  }

  function input_file_onchange() {
    // Read the uploaded file and display it
    var file_to_upload = input_file.files[0];
    input_file_view.src = URL.createObjectURL(file_to_upload);
    prediction_label.innerHTML = "";

    // Post the image to the /predict API
    var formData = new FormData();
    formData.append("file", input_file.files[0]);
    axios.post('/predict', formData, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    }).then(function (response) {
      var prediction_results = response.data;
      console.log(prediction_results);

      // Display the results
      prediction_label.innerHTML = prediction_results["prediction"];
      if (prediction_results["prediction"] != "trash") {
        can_recycle.innerHTML = "Yes!"
      } else {
        can_recycle.innerHTML = "No :("
      }

    });
  }

  // Attach an onchange event
  input_file.onchange = input_file_onchange;
</script>
{% endblock %}