{% extends "layout.html" %}
{% set active_page = "upload" %}
{% block style %}
<!-- Add Stylesheet -->
<style>
    .form-group {
        padding-top: 10px;
    }
</style>
{% endblock %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="{{ form.category.id }}">{{ form.category.label }}</label>
        {{ form.category(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="{{ form.file.id }}">{{ form.file.label }}</label>
        {{ form.file(class="form-control") }}
        {% for error in form.file.errors %}
        <small class="form-text text-muted">{{ error }}</small>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>

</form>
{% endblock %}